/* aca hacemos los ajustes al chat  */
.img-default{
    width: 60px;
    height: 60px;
    border-radius:100px ;
}


.Time__mesenger{
    display: flex;
    justify-content: end;

}
.chat-content{
    display: inline-block;
    color: azure;
}


.Title__app div{
    font-family: "Kanit", sans-serif;
    font-weight: 500px;
    font-style: normal;
}

div{
    font-weight: 500px;
}
