
.item-links li{
    margin: 10px;
    /* display:inline-block; */
}

.Nav-img{
    width: 450px;
}

.kanit-thin {
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
}


.Estados-wasa a{
    display: inline-flex;
    margin-left: 60px;
    /* margin-bottom: 40px; */
    text-decoration: none;
    color: aliceblue;
}

